@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner, .btn {
  font-family: 'Lilita One', cursive;
  background-color: deepskyblue;
  color: white;
}

.banner {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
}

.container {
  margin: 10px auto 0px auto;
  width: 80%;
  text-align: center;
}

.flexContainer {
  margin: 10px auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.curWeatherBlock {
  margin: 0 auto;
  width: 50%;
  height: 150px;
  background-color: whitesmoke;
  border: solid cyan 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.weatherBlockPicture {
  background-color: deepskyblue;
  height: 66.66%;
  width: 33.33%;
  margin: 0 auto;
}

.weatherBlockPicture > img {
  margin: 2% 0;
  height: 100%;
  width: 80%;
}

.weatherBlockItem{
  height: 33.33%;
  width:33.33%;
  border: 1px solid black;
}

.item {
  height: 500px;
  width: 250px;
  background-color: lightgreen;
  margin-left: 5px;
  margin-right: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 90%;
  height: 40px;
  margin: 10px 0px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 300px;
  border: none;
  font-size: x-large;
  border: solid 2px lime;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .flexContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 80%;
  }

  .curWeatherBlock {
    width: 100%;
  }


  .item { 
    height: 200px;
    width: 100%;
  }

  .item + .item {
    margin-top: 5%;
    margin-left: 0px;
  }
}