@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner, .btn {
  font-family: 'Lilita One', cursive;
  background-color: skyblue;
  color: white;
}

.banner {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
}

.container {
  margin: 10px auto;
  width: 80%;
  text-align: center;
}

.flexContainer {
  margin: 50px auto 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.item {
  height: 500px;
  width: 250px;
  background-color: lightgreen;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 90%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 300px;
  border: none;
  font-size: x-large;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .flexContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 80%;
  }

  .item { 
    height: 200px;
    width: 100%;
  }

  .item + .item {
    margin-top: 5%;
    margin-left: 0px;
  }
}